<%= currently_at 'Contact' %>

<div class="hero-unit">

  <h4>So this isn't really a contact page but its a kick ass carousel</h4>

  <div class="row">
    <div class="span4">
      <h2>
      </h2>
    </div>
    <div class="span4">
      <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <img src="images/dog_jump.jpeg" alt="bam">
          </div>
          <div class="item">
            <img src="images/spirit_airlines.jpg" alt="boom">
          </div>
          <div class="item">
            <img src="images/f_35.jpg" alt="F 35">
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
    <div class="span4">
    </div>
  </div>

</div>

<hr>
