
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Genius</h1>
        <p>I respect the people who made this</p>

        <p><a href='http://www.youtube.com/watch?v=GcjxwXCxBBU' class="btn btn-primary btn-large">Best thing you are going to see today&raquo;</a></p>
      </div>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span2">
            <!--Sidebar content-->
            <img src="images/dog_jump.jpeg" alt="dog bites fat trainer">
          </div>
          <div class="span10">
            <!--Body content-->
            <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a href="#home">Home</a></li>
              <li><a href="#profile">School</a></li>
              <li><a href="#messages">Army service</a></li>
              <li><a href="#settings">Past life</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="home">NYC it sucks</div>
              <div class="tab-pane" id="profile">Cornell University it sucked</div>
              <div class="tab-pane" id="messages">IDF it sucked</div>
              <div class="tab-pane" id="settings">Israel it sucked</div>
            </div>
          </div>
        </div>
      </div>

      <hr>
